body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 50, 92);
}

button {
    width: 7vw;
    height: 3vh;
}

#header {
    display: inherit;
    align-content: center;
    position: sticky;
    top: 0;
    padding: 2vw;
    background-color: rgb(47, 50, 92);
}

#title {
    margin: 0 0 0 2vw;
    color: white;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > #content {
    display: inherit;
    flex-direction: row;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#dynamic {
    width: 75vw;
}

#rg {
    width: 25vw;
    justify-content: center;
}